<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">
  
  <Identity Name="492a8733-a8a0-420b-a0fa-fc72732b1001"
            Publisher="CN=Publisher"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>Tree2012</DisplayName>
    <PublisherDisplayName>PublisherDisplayName</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>Tree2012</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="Tree2012.App">
        <VisualElements 
            DisplayName="Tree2012"
            Logo="Logo.png"
            SmallLogo="SmallLogo.png"
            Description="Tree2012"
            ForegroundText="light"
            BackgroundColor="#464646">
            <SplashScreen Image="SplashScreen.png" />
        </VisualElements>
        <Extensions>
          <mx:Extension Category="xbox.system.resources">
            <mx:XboxSystemResources />
          </mx:Extension>
        </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
  <Extensions>
    <mx:PackageExtension Category="windows.kinect">
      <mx:Kinect IsVersionLocked="false">
        <mx:AudioPipeline Version="1.14.8" />
        <mx:SpeechPipeline Version="1.14.8" />
        <mx:VisionPipeline Version="1.14.8" />
      </mx:Kinect>
    </mx:PackageExtension>
  </Extensions>
</Package>
