<?xml version="1.0" encoding="utf-8"?>
<Game
  configVersion="0">
  <Identity
    Name="TreeXbox"
    Publisher="CN=Publisher"
    Version="1.0.0.0" />
  <ShellVisuals
    DefaultDisplayName="Xbox Game"
    PublisherDisplayName="Microsoft"
    StoreLogo="StoreLogo.png"
    Square150x150Logo="Square150x150Logo.png"
    Square44x44Logo="Square44x44Logo.png"
    Square480x480Logo="default480x480.png"
    Description="Testing stuff"
    ForegroundText="light"
    BackgroundColor="#000040"
    SplashScreenImage="SplashScreenImage.png" />
  <ExecutableList>
    <Executable
      Name="TreeXbox.exe"
      TargetDeviceFamily="Scarlett" />
  </ExecutableList>
  <DevelopmentOnly>
    <DebugNetworkPortList>
      <DebugNetworkPort>4711</DebugNetworkPort>
    </DebugNetworkPortList>
  </DevelopmentOnly>
  <AdvancedUserModel>true</AdvancedUserModel>
</Game>